# Git ignore
#
*.log
.vagrant/
boxes/
output-openbsd-hv/
output-openbsd-vb/
output-openbsd-qu/
temp/
packer_cache/
local/*
!local/.gitkeep
variables.pkr.hcl
variables.json
#
# MacOS
#
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
._*